*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navegador{
    background-color: #3bc759;
}

.navegador ul li a{
    color: red;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
}
.navegador ul{
    display: flex;
    justify-content: left;
    list-style: none;
}
 
.carrousel{
    height: 350px;
    background-color: aqua;
}
.principal-index{
    background-color: #3bc759;
}
.principal-index h1{
    text-align: center;
    font-style: normal;
    color: red;
    padding: 8px;
}
.principal-index p{
    font-style: italic;
    padding: 5px;
}
.tarjeta img{
    height: 150px;
    width: 355px;
    align-items: center;
}
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.tarjeta{
    border: solid 3px black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
}
.tarjeta h4{
    font-size: 22px;
}
.tarjeta button{
    background-color: #3bc759;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
}
.footer-index{
    background-color: #3bc759;
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 10px;
    padding: 10px;
}
.info-footer{
    display: flex; 
    flex-direction: column;
    padding: 10px;
}
.info-footer h3{
    color: white;
    text-align: center;
}
.ubicacion{
    display: flex; 
    flex-direction: column;
    padding: 10px;
}
.ubicacion{
    color: white;
    text-align: center;
}
.mapa{
    height: 250px;
}
.formulario{
    font-size: 18px;
    margin: 30px auto;
    width: 600px;
    border-radius: 5px;
    color: white;
    background-color: #3bc759;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    display: grid;
    row-gap: 10px;
}
.dato{
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 10px;
}
.boton-formulario{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
    border: none;
}