* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boton, .tarjetas .tarjeta button {
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.navegador {
  background-color: rgba(6, 60, 104, 0.9450980392);
}
.navegador ul {
  display: flex;
  justify-content: initial;
  list-style: none;
}
.navegador ul li a {
  color: rgb(247, 39, 39);
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.navegador ul li a:hover {
  background-color: rgba(255, 255, 255, 0.973);
}
@media (max-width: 768px) {
  .navegador {
    align-items: center;
    max-width: fit-content;
  }
  .navegador ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navegador ul li {
    text-align: center;
    padding: 5px;
  }
  .navegador ul li a {
    font-size: 20px;
  }
}

.carousel {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .carousel {
    margin-top: 10px;
  }
}

.carousel-inner {
  position: relative;
}

.carousel-inner img {
  height: 500px;
}
@media (max-width: 768px) {
  .carousel-inner img {
    height: 300px;
  }
}

.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}

.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}
@media (max-width: 768px) {
  .carousel-control-next {
    top: auto;
    bottom: 0;
  }
}

.principal-index {
  background-image: linear-gradient(to right, rgba(6, 60, 104, 0.9450980392), red);
}
.principal-index h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px 0px 0px 0px;
  font-size: 36px;
}
.principal-index p {
  font-style: italic;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 16px;
}
@media (max-width: 768px) {
  .principal-index h1 {
    font-size: 24px;
  }
  .principal-index p {
    font-size: 14px;
  }
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.tarjetas .tarjeta {
  width: 400px;
  border: solid 3px black;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 12px 10px;
}
.tarjetas .tarjeta img {
  width: 100%;
  height: 100%;
}
.tarjetas .tarjeta h4 {
  font-size: 22px;
  font-weight: bold;
  color: rgba(66, 9, 9, 0.699);
}
.tarjetas .tarjeta button:hover {
  background-color: rgb(34, 226, 34);
  font-weight: bold;
}

@media (max-width: 768px) {
  .tarjeta {
    width: calc(100% - 20px);
    margin: 10px;
  }
}
.footer-index {
  background-color: rgba(6, 60, 104, 0.9450980392);
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
.footer-index .info-footer {
  padding: 10px;
}
.footer-index .info-footer h3 {
  color: red;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.footer-index .info-footer p {
  font-weight: bold;
  color: white;
}
.footer-index .ubicacion {
  padding: 10px;
}
.footer-index .ubicacion h3 {
  padding: 10px;
  color: red;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
}
.footer-index .ubicacion .mapa-contenedor {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
}
.footer-index .ubicacion .mapa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
@media (max-width: 768px) {
  .footer-index {
    grid-template-columns: 1fr;
  }
  .footer-index .info-footer,
  .footer-index .ubicacion {
    text-align: center;
  }
}

#quienes-somos .nosotros-portada {
  display: flex;
  justify-content: space-evenly;
}
#quienes-somos .nosotros-portada .img-nosotros {
  background-image: url(../multimedia/img/imagenes\ nosotros.jpeg);
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 425px;
}
@media (max-width: 768px) {
  #quienes-somos .nosotros-portada .img-nosotros {
    width: 100%;
    height: 300px;
  }
}
#quienes-somos .nosotros-portada .texto-nosotros {
  width: 50%;
  text-align: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#quienes-somos .nosotros-portada .texto-nosotros p {
  margin-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
#quienes-somos .nosotros-portada .texto-nosotros h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(112, 11, 11);
}
#quienes-somos .nosotros-portada .texto-nosotros iframe {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  #quienes-somos .nosotros-portada {
    flex-direction: column;
  }
  #quienes-somos .nosotros-portada .texto-nosotros {
    width: 100%;
  }
}

.formulario {
  font-size: 17px;
  margin: 30px auto;
  width: 650px;
  border-radius: 5px;
  color: white;
  background-color: rgba(6, 60, 104, 0.9450980392);
  text-align: center;
  padding: 20px 25px;
  margin-top: 20px;
  display: grid;
  row-gap: 10px;
}
.formulario .dato {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 5px;
}
.formulario .boton-formulario {
  background-color: red;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.formulario .boton-formulario:hover {
  font-weight: bold;
  background-color: black;
}
@media (max-width: 768px) {
  .formulario {
    width: 100%;
    padding: 15px;
    margin: 15px auto;
    font-size: 14px;
  }
  .formulario .dato {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=styless.css.map */
