.carousel{
    margin-top: 20px;
    @media (max-width: 768px) {
      margin-top: 10px;
    }
  }
  .carousel-inner{
    position: relative;
  }
  .carousel-inner img{
    height: 500px;
  }
  .carousel-item{
    display: none;
  }
  .carousel-item.active{
    display: block;
  }
  .carousel-control-next{
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
  @media (max-width: 768px) {
    top: auto;
    bottom: 0;
  }
}