.footer-index{
  background-color: $bg-color;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  .info-footer{
    padding: 10px;
    h3{
      color: red;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 30px;
    }
    p{
      font-weight: bold;
      color: white;
    }
  }
  .ubicacion{
    padding: 10px;
    h3{
      padding: 10px;
      color: red;
      text-align: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 30px;
    }
    .mapa-contenedor{
      position: relative;
      padding-bottom: 60%;
      height: 0;
      overflow: hidden;
    }
    .mapa{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
  @media(max-width: 768px){
    grid-template-columns: 1fr;
    .info-footer,
    .ubicacion {
      text-align: center;
    }
  }
}