.footer-index {
    background-color: $bg-color;
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: 10px;
    padding: 10px;
    .info-footer{
      display: flex;
      flex-direction: column;
      padding: 10px;
      h3{
        color: red;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
      }
      p{
        font-weight: bold;
        color: white;
      }
    }
    .ubicacion{
        display: flex; 
        flex-direction: column;
        h3{
        padding: 10px;
        color: red;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        }
        .mapa{
            height: 245px;
        }
    }
}
@media(max-width:768px){
    .footer-index{
        display: flex;
        flex-direction: column;
        .mapa{
            max-width: fit-content;
        }
    }
}
