.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    .tarjeta{
        border: solid 3px black;
        margin: 10px;
        display: flex;
        flex-direction: column;
        padding: 12px 10px;
        img{
            height: 150px;
            width: 355px;
            margin-left: 18px;
        }
        h4{
            font-size: 22px;
            font-weight: bold;
            color: red;
        }
        button{
            @include boton(red, white);
            &:hover{
                background-color: rgb(34, 226, 34);
                font-weight: bold;
            }
        }
    }
}
